/*Layout*/

html, body{
    height: 100%;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    background-attachment: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(100deg, rgb(53, 53, 53), rgb(37, 37, 37), rgb(0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Navegação*/

nav {
    background: linear-gradient(100deg, rgb(255, 145, 0), rgb(133, 60, 0), rgb(26, 12, 0));
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    h6 {
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(255, 255, 255);
        margin-left: 10px;
    }

    span {
        color: rgb(143, 69, 0);
    }

    img {
        height: 100px;
    }

    a:hover {
        transform: scale(1.3);
    }
}

body.inicial nav a#inicial,
body.quem_somos nav a#quem_somos,
body.contato nav a#contato,
body.cardapio nav a#cardapio {
    color: rgb(255, 208, 0);
    cursor: text;
    transform: scale(1);
    border: none
}

.navbar-site {
    .navbar-nav {
        .nav-link {
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            padding: 20px;
        }

        .nav-link:hover {
            transform: scale(1.3);
            transition: .3s;
        }
    }
}

/*Promoções*/

.promocoes {
    h1 {
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
    }

    .carousel-inner {
        border-radius: 220px;
    }

    .carousel-caption {
        background-color: darkorange;
        border-radius: 20px;
    }
}

/*Vendas*/

.vendas {
    h1 {
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 30px;
        font-weight: bold;
    }

    h4, p {
        color: #fff;
    }
}

/*Footer*/

footer {
    background: linear-gradient(100deg, rgb(255, 145, 0), rgb(133, 60, 0), rgb(26, 12, 0));
    h3, h5 {
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
    }
}

/*Quem somos*/

.quemsomos {

    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
        color: white;
        text-transform: uppercase;
    }

    p {
        color: #fff;
    }
}

/*Contato*/

.contatos {

    .wpp {
        color: yellowgreen;
    }

    .insta {
        background-image: linear-gradient(to right,#ffd900,#ff0000, rgb(183, 0, 255));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .facebook {
        color: skyblue;
    }

    margin-top: 20px;
    margin-bottom: 20px;

    h1 {
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
    }

    h5 {
        color: #fff;
        text-align: center;
    }
}

/*Cardápio*/

.cardapio {
    h1 {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    th, td {
        text-align: center;
    }
}